@import './variables.scss';
@import './utils.scss';
@import './components/index.scss';

h1 {
    color: blue;
}

.main-container {
    font-family: $title-font-family;
    margin: {
        right: 30px;
    }
    padding: {
        top: 10px;
        bottom: 30px;
    };
    position: relative;
    overflow-x: hidden;

    &.closed {
        left: 100px;
        width: calc(100% - 140px);
    }

    &.open {
        left: $sideNavWidth + 60px;
        width: calc(100% - 380px);
    }   
}

label {
    color: $form-label-color;
    font-size: 18px;
    margin-right: 20px;
}

input[type="file"] {
    display: none;
}

body {
    margin: 0px;
}

hr {
    margin: 20px 0px 10px;
    border: 1px dashed #aaa;
}
