$title-font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
$title-bg-clr: #2A3F54;
$title-color: #ECF0F1;

$body-clr-drk: #000;
$title-bg-clr-drk: #191515;
$title-color-drk: #aab5bf ;


$body-clr-mdblue: #223c56;
$title-bg-clr-mdblue: #081d31;


$btn-color: #ECF0F1;
$btn-bg-clr: rgba(255, 255, 255, 0.05);
$btn-bg-clr-hover: rgba(255, 255, 255, 0.1);
$btn-font-size: 17px;
$btn-font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
$primary-btn-color: #1ABB9C;
$cancel-btn-color: #73879C;
$cancel-btn-color1: #545b62;
$toobar-btn-color: #20a8d8;
$button-dark: #404040;

$border-left-color: #1ABB9C;

$link-active-color: #1ABB9C;

$sideNavWidth: 300px;
$title-height: 30px;

$page-title-color: #73879C;
$page-title-color-dark: #dadfe4;

$tab-font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;

$form-font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
$form-field-color: #2A3F54;
$form-label-color: #73879C;
$form-label-color-drk: #aab5bf;

$danger: #E74C3C;
$warning: #f1c68e;
$warning-dark: #f57826;
$warning-btn: #d34836;
$succees: #17b395; 



$link-color: #6b5b95;

$link-clr-drk: #bca8f1;

$attribute-type: (
    "string": #2FA4E7,
    "boolean": #DD5600,
    "object": #73A839,
    "number": #9A1750,
    "array": #6610f2,
);

$form-border-color: #2A3F54;

$dark-color: #404040;

$panel-bg-color: #F5F5F5;

$icon-color: #b0c1d2;
