$title-font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;
$title-bg-clr: #2a3f54;
$title-color: #ecf0f1;

$btn-color: #ecf0f1;
$btn-bg-clr: rgba(255, 255, 255, 0.05);
$btn-bg-clr-hover: rgba(255, 255, 255, 0.1);
$btn-font-size: 17px;
$btn-font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;
$primary-btn-color: #4574c3;
$cancel-btn-color: #73879c;
$cancel-btn-color1: #545b62;
$toobar-btn-color: #4574c3;
$button-dark: #404040;

$border-left-color: #4574c3;

$link-active-color: #4574c3;

$sideNavWidth: 300px;
$title-height: 30px;
$page-title-color: #73879c;

$tab-font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;

$form-font-family: 'Helvetica Neue', Roboto, Arial, 'Droid Sans', sans-serif;
$form-field-color: #2a3f54;
$form-label-color: #73879c;

$danger: #e74c3c;
$warning: #f1c68e;
$warning-dark: #f57826;
$warning-btn: #d34836;
$succees: #17b395;

$link-color: #6b5b95;

$attribute-type: (
	'string': #2fa4e7,
	'boolean': #dd5600,
	'object': #73a839,
	'number': #9a1750,
	'array': #6610f2
);

$form-border-color: #2a3f54;

$dark-color: #404040;

$panel-bg-color: #f5f5f5;

$icon-color: #b0c1d2;
