$title-font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
$title-bg-clr: #2A3F54;
$title-color: #ECF0F1;

$btn-color: #ECF0F1;
$btn-bg-clr: rgba(255, 255, 255, 0.05);
$btn-bg-clr-hover: rgba(255, 255, 255, 0.1);
$btn-font-size: 17px;
$btn-font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
$primary-btn-color: #1ABB9C;
$cancel-btn-color: #73879C;
$cancel-btn-color1: #545b62;

$border-left-color: #1ABB9C;

$sideNavWidth: 300px;
$title-height: 30px;
$page-title-color: #73879C;

$tab-font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;

$form-font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
$form-field-color: #2A3F54;
$form-label-color: #73879C;

$danger: #E74C3C;

$link-color: #588c7e;
