.theme-container {
    display: flex;
    width: 100%;

    .theme-icon {
        margin-left: 30px;
        text-align: center;
    }


    span {

        &.light-mode {
            background: url('../../assets/icons/light-mode.png') no-repeat;
            background-size: contain;
            display: block;
            padding: 20px 40px;
        }

        &.dark-mode {
            background: url('../../assets/icons/dark-mode.png') no-repeat;
            background-size: contain;
            display: block;
            padding: 20px 40px;
        }

        &.mdblue-mode {
            background: url('../../assets/icons/mdblue-mode.png') no-repeat;
            background-size: contain;
            display: block;
            padding: 20px 40px;
        }
    }
}