@use "sass:map";

.attributes-header {
    color: $title-bg-clr;
    display: flex;
    flex-wrap: wrap;
    font-family: $tab-font-family;
    justify-content: flex-end;
    margin: 20px 0;
    width: 100%;

    .attr-link {
        cursor: pointer;
        margin: {
            left: 25px;
            right: 25px;
            top: 10px;
        }

        .text {
            margin-left: 30px;
        }
    }

    .attr-link:hover {
        text-decoration: underline;
    }

    .plus-icon {
        background: url('../../assets/icons/plus-icon-rounded.svg') no-repeat;
        background-size: contain;
        margin: 0 0px 0 0;
        padding: 0;
        padding-bottom: 35px;
        position: absolute;
        width: 35px;
    }

    .submit-icon {
        background: url('../../assets/icons/submit-icon-green-rounded.svg') no-repeat;
        background-size: contain;
        margin: 0 0px 0 0;
        padding: 0;
        padding-bottom: 25px;
        position: absolute;
        width: 25px;
    }

    .reset-icon {
        background: url('../../assets/icons/reset-icon-red-rounded.svg') no-repeat;
        background-size: contain;
        margin: 0 0px 0 0;
        padding: 0;
        padding-bottom: 25px;
        position: absolute;
        width: 25px;
    }

    .btn-container {
        margin-top: 0px;
    }
}

td.attributes-header {
    justify-content: flex-start;
}

.panel-box-wrapper {
    border: 1px solid #bbb;
    box-shadow: 1px 3px #eee;
    display: flex;
    font-family: $tab-font-family;
    font-size: 17px;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 20px;

    div {
       margin: 0 20px;
       width: 10%;
    }

    div:first-child {
        width: 1%;
    }

    div:nth-child(2) {
        width: 25%;
    }

    div:last-child {
        width: 0;
    }

   a {
       color: $link-color;
       cursor: pointer;
       font-family: $tab-font-family;
       font-size: 14px;
       margin-right: 30px;
       text-decoration: none;;
   }

   a:hover {
       text-decoration: underline;
   }
}

@mixin attr-linktype($color) {
    background-color: $color;
    border-radius: 5px;
    color: $btn-color;
    padding: 2px 5px;
    font-size: 12px;
    text-transform: uppercase;
}

.string {
    @include attr-linktype(map-get($attribute-type, "string"));
}

.boolean {
    @include attr-linktype(map-get($attribute-type, "boolean"));
}

.array {
    @include attr-linktype(map-get($attribute-type, "array"));
    
}

.date {
    @include attr-linktype(map-get($attribute-type, "date"));
}

.number {
    @include attr-linktype(map-get($attribute-type, "number"));
}

