.rule-flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 50px;

    .decision-box {
        border-bottom: 2px solid #ccc;
        margin-bottom: 30px;
        padding-bottom: 20px;
        width: 100%;
    }

    .tool-flex {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        div {
            width: 30px;
        }
    }
}

.add-rulecase-wrapper {
    border-bottom: 2px dashed $form-label-color;
    border-top: 2px dashed $form-label-color;
    margin-top: 20px;
    padding: 20px 0;
}

.add-decision-step {
    display: flex;
    color: $form-label-color;
    font-family: $form-font-family;
    flex-wrap: wrap;

    .step1 {
        margin-right: 10%;
    }

    .step2 {
        margin-right: 10%;
    }

    div {
        margin-bottom: 10px;
    }
}

.dark {
    .add-decision-step {
        color: $form-label-color-drk;
    }
}

.md-blue {
    .add-decision-step {
        color: $form-label-color-drk;
    }
}

.light {
    .add-decision-step {
        color: $form-label-color;
    }
}

.add-field-panel {
    display: flex;
    flex-direction: row;
    font-family: $form-font-family;
    justify-content: space-between;
    margin-top: 20px;

    div {
        flex-grow: 1;
        width: 100%;
    }

    .btn-container {
        margin-top: 27px;
    }

    &.half-width {
        width: 50%;
    }
}