.page-container {
	padding: 60px 20px;
}

.single-panel-container {
	display: flex;
	justify-content: center;
	margin-top: 150px;
	width: 100%;
	.upload-panel {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.upload-section {
		border-right: 1px solid #aaa;
		padding-top: 25px;
		width: 80%;
		margin-right: 20px;
	}

	.drop-section {
		border: 1px dashed #aaa;
		border-radius: 5px;
		color: #73879c;
		font-size: 18px;
		height: 70px;
		line-height: 30px;
		// margin-left: 20px;
		padding-top: 35px;
		text-align: center;
		margin-right: 45px;
		width: 100%;
		label {
			color: $link-color;
			margin-right: 0px;
			text-decoration: underline;
		}

		label:hover {
			cursor: pointer;
			text-decoration: underline;
		}
	}

	.file-drop-msg {
		font-size: 14px;
	}

	.btn-group {
		justify-content: center;
		margin-top: 25px;
	}
}

.browse-label {
	background-color: $cancel-btn-color;
	border-radius: 5px;
	color: $btn-color;
	font-size: 16px;
	font-family: $form-font-family;
	height: 40px;
	line-height: 40px;
	margin-top: 20px;
	outline: none;
	padding-top: 0;
	text-align: center;
	width: 140px;
}

.home-container {
	display: flex;
	flex-direction: column;
	height: 90vh;
	justify-content: space-between;
}

.footer-container {
	display: flex;

	&.home-page {
		flex-direction: row-reverse;

		a {
			font-size: 14px;
		}
	}

	&.sidenav {
		flex-direction: column-reverse;

		a {
			color: $btn-color;
			font-size: 14px;
		}
	}

	div {
		margin-left: 20px;
		margin-bottom: 20px;
	}
}

.col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row {
	padding: 24px 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	& > div:first-child {
		min-width: 500px;
	}
	& .flex-end {
		justify-content: flex-end;
	}
}
.separator {
	display: flex;
	align-items: center;
	text-align: center;
	margin: 16px 0;
	font-size: 12px;
	opacity: 0.75;
	color: $button-dark;
	width: 100%;
}
.separator::before,
.separator::after {
	content: '';
	flex: 1;
	border-bottom: 1px dotted $form-label-color;
}
.separator::before {
	margin-right: 0.45em;
}
.separator::after {
	margin-left: 0.45em;
}
