.nav-container {
    background-color: $title-bg-clr;
    font-family: $title-font-family;
    height: 100%;
    left: 0;
    margin-top: -70px;
    overflow-y: auto;
    position: fixed;
    padding: 0 10px 25px;

    &.closed {
      width: 40px;
    }

    &.open {
      width: $sideNavWidth;
    }

    &.light {
      background-color: $title-bg-clr;
    }

    &.dark {
      background-color: $title-bg-clr-drk;
    }

    &.md-blue {
      background-color: $title-bg-clr-mdblue;
    }
}

.menu-bar {
  cursor: pointer;
  font-size: 19px;
  margin-top: 30px;
  margin-bottom: 25px;

  a {
    color: $title-color;
  }
}


.links-section {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: space-between;
} 

.link-container {
  list-style-type: none;
  margin-top: 5px;
  padding: 0;

  li {
    color: $btn-color;
    font-family: $btn-font-family;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
  }

  li:hover {
    background: $btn-bg-clr;
  }

  a {
    color: $btn-color;
  }

  .link-heading {
    font-size: 20px;

    a {
      color: $btn-color;
  
      .rules-icon {
        background: url('../../assets/icons/rules.svg') no-repeat;
        background-size: contain;
        margin: 0 20px 0 0;
        padding: 0;
        padding-bottom: 15%;
        position: absolute;
        width: 100%;
      }
  
      span.text {
        margin-left: 75px;
      }
  
    }

    a::after {
      content: '>';
      float: right;
      transition: transform 0.5s;
    }
  
    a.active::after {
      transform: rotate(90deg);
      transition: transform 0.5s;
    }
  }

  .navmenu {
    cursor: pointer;
    padding-left: 30px;

    a {
      color: $btn-color;
      font-size: 16px;
      text-decoration: none;
    }

    .icon {
      font-size: 19px;
    }

    span.text {
      margin-left: 40px;
    }
  }

  .sublink-container {
    display: none;
    list-style-type: none;
    top: 10px;

    &.visible {
      display: block;
    }

    li {
      border-left: 3px solid $border-left-color;
      cursor: pointer;
      line-height: 20px;
      visibility: hidden;
      height: auto;

      &.visible {
        visibility: visible;
        padding: 10px;
      }

      &.active a{
        color: $link-active-color;
      }
    }

    a {
      span.text {
        margin-left: 10px;
      }
    }

    a::after {
      content: '';
    }
  }
}