.panel-wrapper {
    border: 2px solid #006a4d;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}

.panel-box-wrapper {
    border: 1px solid #bbb;
    box-shadow: 1px 3px #eee;
    display: flex;
    font-family: $tab-font-family;
    font-size: 17px;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 20px;

    &.string-type {
        border-left: 5px solid #2FA4E7;
    }

    &.number-type {
        border-left: 5px solid #9A1750;
    }

    &.date-type {
        border-left: 5px solid #73A839;
    }

    &.boolean-type {
        border-left: 5px solid #DD5600;
    }

    &.array-type {
        border-left: 5px solid #6610f2;
    }
}