.tab-container {
    border-bottom: 2px solid #ccc;
    display: flex;
    margin-top: 20px;
    padding: {
        left: 40px;
    };

    div {
        cursor: pointer;
        color: $form-label-color;
        font-family: $tab-font-family;
        margin-right: 20px;
        padding: {
            bottom: 10px;
            left: 10px;
            right: 10px;
        }

        &.active {
            border-bottom: 3px solid $border-left-color;
            color: $title-bg-clr;
            font-weight: bold;
        }
    }
}

.tab-page-container {
    margin-top: 20px;
}