.header-container {
    background-color: $title-color;
    color: $title-bg-clr;
    display: flex;
    font-family: $title-font-family;
    justify-content: flex-end;
    font-size: 22px;
    padding: 15px;
}

.page-title {
    display: flex;

    h1 {
        color: $page-title-color;
        font-size: 1.5rem;
        font-family: $title-font-family;
        font-weight: 400;
        margin-top: 5px;
    }
}


.icon-card {
    color: $icon-color;
    font-size: 45px;
    margin-right: 10px;
}


